<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("All product", "Index", "Admin")</li>

        @if (Roles.IsUserInRole("admin"))
        {
            <li>@Html.ActionLink("Add product", "Add", "Product")</li>
        }
    </ul>
</nav>
