@model Webshop.Models.Product

<table>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Name)
        </td>
    </tr>   
    
    <tr>
        <td>
            @if(Model.Image != null){
                @Html.DisplayFor(modelItem => modelItem.Image)
            } else {
                <p>Geen</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Price)
            @Html.DisplayFor(modelItem => modelItem.Stock)
        </td>

        <td>
            @if(Roles.IsUserInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Product", new { id=Model.Id }, null)
                @Html.ActionLink("Remove", "Remove", "Product", new { id=Model.Id }, null)
            } else {
                @Html.ActionLink("Meer info", "Details", "Product", new { id=Model.Id }, null)
                @Html.ActionLink("In winkelwagen plaatsen", "Add", "Basket", new { productId=Model.Id }, null)
                @Html.ActionLink("Bestellen", "Buy", "Product", new { id=Model.Id }, null)
            }
        </td>
    </tr>
</table>